<mat-card appearance="outlined">
  <mat-card-header>
    <span mat-card-avatar>
      <mat-icon>{{ notification.icon }}</mat-icon>
    </span>
    <mat-card-title>{{
      notification.text!.length > 30
        ? (notification.text | slice : 0 : 30)?.concat("...")
        : notification.text
    }}</mat-card-title>
    <mat-card-subtitle>
      <a *ngIf="notification.link" [href]="notification.link" target="_blank">{{
        notification.link
      }}</a></mat-card-subtitle
    ></mat-card-header
  >
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Icon: {{ notification.icon }}</p>
    <p>Metadata: {{ notification.metadata }}</p>
    <p>Text: {{ notification.text }}</p>
  </mat-card-content>
  <mat-card-actions>
    <ng-content></ng-content>
  </mat-card-actions>
</mat-card>
