<table
  mat-table
  [dataSource]="(notifications$ | async) ?? []"
  class="mat-elevation-z8"
>
  @for (columnName of columnNames; track columnName) {
  <ng-container [matColumnDef]="columnName">
    <th mat-header-cell *matHeaderCellDef>{{ columnName | titlecase }}</th>
    <td mat-cell *matCellDef="let row" [ngClass]="columnName">
      {{ row[columnName] }}
      @if (columnName === 'icon') {<mat-icon>{{ row[columnName] }}</mat-icon>
      }
    </td>
  </ng-container>
  }

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button
        mat-icon-button
        matTooltip="View Notification"
        (click)="viewNotification(row)"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        matTooltip="Delete Notification"
        (click)="deleteNotification(row.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Edit Notification">
        <mat-icon>edit</mat-icon>
      </button>
      @if (row['link']) {
      <a
        mat-icon-button
        [href]="row.link"
        target="_blank"
        matTooltip="Open Link"
      >
        <mat-icon>open_in_new</mat-icon>
      </a>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
