form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  .image-input {
    margin-bottom: 1rem;
  }
}

:host {
  display: flex;
  align-items: first baseline;
}
