<form [formGroup]="form" (submit)="submit()">
  <h2>{{ editing ? "Edit notification " + id : "Create new Notification" }}</h2>

  @for (item of form.controls | keyvalue ; track $index) {
  <mat-form-field>
    <mat-label>{{ item.key | titlecase }}</mat-label>
    @if (item.key === 'text') {
    <textarea
      matInput
      [formControlName]="item.key"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="10"
    ></textarea>
    } @else { <input matInput [formControlName]="item.key" /> } @if
    (form.get(item.key)?.hasError('required')) {
    <mat-error> {{ item.key | titlecase }} is required </mat-error>
    } @if (form.get(item.key)?.hasError('pattern')) {
    <mat-error> {{ item.key | titlecase }} is invalid </mat-error>
    }
  </mat-form-field>
  }

  <button mat-raised-button type="submit" [disabled]="form.invalid">
    Submit
  </button>
</form>

@if (this.form.dirty || editing) {
<app-notification-view [notification]="this.form.value"></app-notification-view>
}
