<form [formGroup]="form" (submit)="submit()">
  <h2>{{ editing ? "Edit notification " + id : "Create new Notification" }}</h2>

  @for (item of form.controls | keyvalue ; track $index) {
  <mat-form-field>
    <mat-label>{{ item.key | titlecase }}</mat-label>
    @if (item.key === 'text') {
    <textarea matInput [formControlName]="item.key"></textarea> } @else {
    <input matInput [formControlName]="item.key" /> }
  </mat-form-field>
  }

  <button mat-raised-button type="submit" [disabled]="form.invalid">
    Submit
  </button>
</form>
<app-notification-view [notification]="this.form.value"></app-notification-view>
